2Trimestre/tema_10/ejemplo_xml/ejemploamin.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pelicula">
                    <xs:complexType>
                        <xs:choice maxOccurs="5">
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="anyo" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>